extends layout

block content
  h1= title
  head
    title Hello, World! 
  body 
    h1 Hello, World, this is a Heading! 
    p Welcome to Azure Web App New Changes Are Made, this is the Production Branch.
